@import '../../assets/style/variables.scss';
.input-part {
    margin-right: 55px;
    input,
    .text-area {
        width: 100%;
        border-bottom: 1px solid grey;
        height: 40px;
        padding: 5px 12px;
        font-size: 17px;
        margin-bottom: 30px;
    }
    .text-area {
        height: 105px;
    }
    .contact-btn {
        width: 97px;
        height: 38px;
        padding: 10px 30px;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: $green;
            color: $white;
        }
    }
}

.address-part {
    h3 {
        font-size: 26px;
        color: $green;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .address-text {
        font-size: 17px;
        color: $light-grey;
        max-width: 315px;
        width: 100%;
        margin-bottom: 50px;
    }
    .contact-link a {
        font-size: 17px;
        color: $light-grey;
        margin-bottom: 10px;
    }
    span {
        display: block;
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 15px;
    }
}

.social-icons {
    display: flex;
    margin-top: 20px;
    .social-icon {
        margin-right: 10px;
    }
}

.modal-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    .modal-hidden-text {
        max-width: 600px;
        width: 100%;
        margin-left: 15px;
        margin-top: -13px;
        color: $light-grey;
    }
}

.map-frame {
    margin: 35px 0px;
    iframe {
        width: 100%;
        height: 400px;
    }
}